<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo reference="camera_link">
    <sensor type="depth" name="realsense_d435">
      <always_on>true</always_on>
      <update_rate>30.0</update_rate>
      <visualize>true</visualize> 
      
      <camera>
        <horizontal_fov>1.50098</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.1</near>
          <far>10.0</far>
        </clip>
      </camera>

      <plugin name="camera_plugin" filename="libgazebo_ros_camera.so">
        <ros>
          <namespace>camera</namespace>
          <remapping>~/image_raw:=color/image_raw</remapping>
          <remapping>~/camera_info:=color/camera_info</remapping>
          <remapping>~/depth/image_raw:=depth/image_raw</remapping>
          <remapping>~/depth/camera_info:=depth/camera_info</remapping>
          <remapping>~/points:=depth/points</remapping>
        </ros>
        
        <camera_name>camera</camera_name>
        <frame_name>camera_depth_optical_frame</frame_name>
        
        <min_depth>0.1</min_depth>
        <max_depth>10.0</max_depth>
      </plugin>
    </sensor>
  </gazebo>

</robot>