<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot_name">

  <gazebo reference="base_link">
    <material>SlateBlue</material>
  </gazebo>

  <gazebo reference="castor_l_swivel_link">
    <material>SlateBlue</material>
  </gazebo>

  <gazebo reference="castor_r_swivel_link">
    <material>SlateBlue</material>
  </gazebo>

  <gazebo reference="base_yaw_link">
    <material>IndustrialOrange</material>
  </gazebo>

  <gazebo reference="shoulder_link">
    <material>IndustrialOrange</material>
  </gazebo>

  <gazebo reference="elbow_link">
    <material>IndustrialOrange</material>
  </gazebo>

  <gazebo reference="wrist_pitch_link">
    <material>IndustrialOrange</material>
  </gazebo>

  <gazebo reference="right_wheel_link">
    <material>DarkTeal</material>
  </gazebo>

  <gazebo reference="left_wheel_link">
    <material>DarkTeal</material>
  </gazebo>

  <gazebo reference="castor_l_wheel_link">
    <material>DarkTeal</material>
  </gazebo>

  <gazebo reference="castor_r_wheel_link">
    <material>DarkTeal</material>
  </gazebo>

  <gazebo reference="arm_base_link">
    <material>DarkTeal</material>
  </gazebo>

  <gazebo reference="lidar_link">
    <material>DeepOceanBlue</material>
  </gazebo>

  <gazebo reference="wrist_roll_link">
    <material>SandyYellow</material>
  </gazebo>

</robot>